.topNavBarContainer {
  display: flex;
  justify-content: space-between;
}
.bottomNavBarContainer {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}

.input1 {
  width: 200px;
  height: 40px;
}

.hover {
  cursor: pointer;
}
